* {
  box-sizing: border-box;
}
.slideshow-container {
  position: relative;
  display: inline-block;
  width: fit-content ;
  margin: 0 10px 10px 0;
  border:2px solid grey;
}


img {
    width:400px;
    height: auto;
}

.img-caption {
    font-size: 3em;
    color: royalblue;
    position: absolute;
    z-index: 5;
    top: 50px;
    right: 0;
    margin-right: 60px;
  }
  
  .arrow {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 5;
    font-size: 25px;
    transition: 0.06s;
    color: rgb(206, 189, 189);
    background-color: rgb(173, 166, 166);
    border-radius: 20px;
    padding: 5px 10px;
    transition: 0.7s;
  }

  .arrow:hover {
    color:#fff;
  }

  .slideshow-container:hover .arrow {
    opacity: 1;
  }
  
  .arrow-left {
    left: 0;
    margin-left: 5px;
  }
  
  .arrow-right {
    right: 0;
    margin-right: 5px;
  }

  /* .slideOne {display: none;}
  .slideTwo {display: none;} */